@media screen and (min-width: 1201px) {
  * {
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  Main {
    max-width: 1800px;
    margin: 0 auto;
  }

  body {
    background-color: #0b0d0f;
  }

  .brødkrumme {
    font-size: 23px;
    margin-top: -85px;
    margin-bottom: 85px;
  }

  /******************************* Forside **********************************/

  .menu {
    font-size: 25px;
  }

  .velkommen {
    background-image: url(../imgs/large/desktop\ baggrund.webp);
    background-size: auto;
    background-position: right;
    height: 1090px;
    padding-left: 5%;
    padding-top: 10%;
  }

  .velkommen h1 {
    font-size: 70px;
    line-height: 75px;
    padding-bottom: 10%;
    padding-right: 45%;
    text-align: left;
  }

  .velkommen p {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 5%;
    padding-right: 45%;
  }

  .udforsk {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/large/udforsk\ bg\ desktop.webp),
      linear-gradient(#0b0d0f, #0b0d0f);
    background-size: auto;
    height: 258px;
    text-align: center;
  }

  .udforsk span {
    font-size: 90px;
  }

  .ransom {
    display: inline;
  }

  #space {
    font-size: 40px;
  }

  .card_box {
    margin-left: 1%;
    margin-right: 1%;
    height: 350px;
    width: 290px;
    display: flex;
  }

  .grid_cards {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .card_box p {
    font-size: 30px;
    line-height: 32px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid_cards div {
    padding: 10px;
  }

  .grid_cards a {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }

  /************************************ Arkiv *******************************************/

  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-top: 20px;
  }

  .grid_1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
  }

  .arkiv {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
  }
  .arkiv h1 {
    font-size: 70px;
    padding-bottom: 5%;
    padding-right: 10%;
    text-align: left;
    font-weight: 500;
  }

  .filtre,
  .søg,
  .sorter {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .filtre img {
    width: auto;
    height: 30px;
  }
  .søg img {
    width: auto;
    height: 30px;
  }
  .sorter img {
    width: auto;
    height: 30px;
  }

  .filtre_placeholder img {
    height: 90%;
    width: auto;
  }

  .afsnit_resultater {
    margin-right: 20px;

    margin-bottom: 0px;
  }

  .afsnit_resultater_header {
    background-image: url(../imgs/large/afsnit\ card\ desktop\ s.webp);
    background-position: right;
    height: 220px;
  }

  .afsnit_preview {
    background-image: url(../imgs/large/afsnit\ card\ desktop\ l.webp);
    background-position: left;
    height: 220px;
  }

  .grid_1-2 {
    width: auto;
    height: 220px;
    display: grid;
    grid-template-columns: 326px 1fr;
  }

  .afsnit_resultater_titel {
    display: flex;
  }
  .afsnit_resultater_titel h2 {
    font-size: 40px;
    font-weight: 500;
    padding: 8px 0 0 15px;
  }
  .afsnit_resultater_titel img {
    height: 40px;
    width: auto;
    padding: 8px 15px 0 0;
  }

  .afsnit_resultater h3 {
    font-size: 35px;
    padding: 10px 0 0 15px;
  }

  .lyt_links {
    padding: 20px 0 0 15px;
  }

  .lyt_knap_large img {
    height: 40px;
    padding-right: 10px;
  }

  .afsnit_preview a {
    font-size: 23px;
    padding: 0 15px 0 0;
  }

  .afsnit_preview p {
    font-size: 23px;
    line-height: 24px;
    padding: 8px 15px 0 15px;
  }

  /************************************** Afsnit *****************************/

  .afsnit {
    padding: 10% 5% 10% 5%;
  }

  .afsnit_overskrift h1 {
    font-size: 70px;
    line-height: 75px;
    padding-bottom: 2%;
    padding-right: 10%;
    text-align: left;
    font-weight: 500;
    min-width: 500px;
  }

  .afsnit .afsnit_overskrift p {
    font-size: 40px;
  }

  .afsnit_overskrift a {
    font-size: 30px;
    margin-bottom: 85px;
    padding: 10px 20px 10px 20px;
  }

  .afsnit_overskrift {
    display: flex;
    justify-content: space-between;
  }

  .afsnit_beskrivelse {
    background-image: url(../imgs/large/afsnit\ beskrivelse\ large.webp);
    margin-top: 40px;
    font-size: 23px;
    padding: 60px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
  }

  .afsnit_beskrivelse p {
    margin-top: 25px;
    line-height: 50px;
  }

  .afsnit_beskrivelse .beskrivelse {
    font-size: 30px;
    margin-top: 0;
  }

  .fed {
    font-weight: 600;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .historie-1,
  .historie-2 {
    background-image: url(../imgs/large/historie\ baggrund\ large.webp);
    height: 1099px;
    margin-top: 40px;
  }

  .historie-titel {
    padding: 50px;
    padding: 35px 35px 0 35px;
  }

  .historie-titel h2 {
    font-size: 40px;
  }

  .historie-titel img {
    height: 70px;
    margin-top: -22px;
  }

  .grid_1-1 h3 {
    font-size: 35px;
    padding: 3px 0 20px 35px;
  }

  .afsnit dl {
    padding: 0 0 0 35px;
    font-size: 23px;
    line-height: 37px;
  }

  .afsnit dt {
    margin-top: 18px;
    font-size: 30px;
  }

  .afsnit h4,
  .nøgle {
    font-size: 30px;
    line-height: 37px;
    font-weight: 400;
    padding: 0 0 0 35px;
    margin-top: 20px;
  }

  /*********************************** Footer ************************/

  .bot_nav {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
  }

  .bot_menu {
    display: flex;
  }

  footer .logo img {
    width: 200px;
    height: auto;
  }

  footer li {
    margin-top: 14px;
  }

  .bold {
    font-size: 30px;
  }
}
