* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************ Header **********************************/

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #700303;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: auto;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Special Elite;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ececec;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #b31312;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ececec;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/********************************************* Forside **************************************/

/* .forside {
  background-image: url(imgs/basis/black_texture_seamless_512.webp);
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-color: #0d0d0f;
} */

.velkommen h1 {
  font-family: Special Elite;
  color: #ececec;
  font-weight: 400;
}

.velkommen p {
  font-family: League Spartan;
  color: #ececec;
}

.udforsk {
  font-family: Earwig Factory, sans-serif;
}

.gray1 {
  color: #302e2e;
}

.gray2 {
  color: #363434;
}

.gray3 {
  color: #231f20;
}

.gray4 {
  color: #636466;
}

#space {
  color: transparent;
}

.card_box {
  font-family: League Spartan, sans-serif;
  color: #0d0d0f;
  background-color: #ececec;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
}

.grid_cards {
  background-color: #0d0d0f;
}

.grid_cards a {
  font-family: Special Elite, serif;
  color: #ececec;
  text-decoration: none;
  display: inline-block;
  background-color: #700303;
  border-radius: 5px;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
}

.grid_cards a:hover {
  background-color: #b31312;
}

/******************************************* Arkiv ***************************************/

h1 {
  font-family: Special Elite, serif;
  color: #ececec;
  text-align: center;
}

.grid_1-2-1 p {
  font-family: Special Elite, serif;
  color: #ececec;
}

.afsnit_resultater_titel h2 {
  font-family: Special Elite, serif;
  color: #0d0d0f;
}

.afsnit_resultater_titel a {
  text-decoration: underline;
  text-decoration-color: #0d0d0f;
}

.filtre,
.søg,
.sorter {
  background-color: #0d0d0f;
}

.arkiv {
  width: auto;
  background-image: url(imgs/beton.png);
}

/****************************************** Footer **********************************/

footer {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #700303;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: League Spartan, sans-serif;
  color: #ececec;
}

footer a {
  color: #ececec;
  text-decoration: none;
}

footer a:hover {
  color: #c6c5c5;
}

footer li {
  padding-top: 7px;
}

footer .logo img {
  width: auto;
}

.bot_nav {
  list-style-type: none;
}

.bold {
  font-weight: 700;
}
