* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #700303;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: auto;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Special Elite;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ececec;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #b31312;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ececec;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* Forside */

.velkommen h1 {
  font-family: Special Elite;
  color: #ececec;
  font-weight: 400;
}

.velkommen p {
  font-family: League Spartan;
  color: #ececec;
}

.udforsk {
  font-family: Earwig Factory, sans-serif;
}

.gray1 {
  color: #302e2e;
}

.gray2 {
  color: #363434;
}

.gray3 {
  color: #231f20;
}

.gray4 {
  color: #636466;
}

.card_box {
  font-family: League Spartan, sans-serif;
  color: #0d0d0f;
  background-color: #ececec;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
}

.card_box p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid_1-1-1-1 {
  background-color: #0d0d0f;
}

.grid_1-1-1-1 a {
  font-family: Special Elite, serif;
  color: #ececec;
  text-decoration: none;
  display: inline-block;
  background-color: #700303;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
}

.grid_1-1-1-1 a:hover {
  background-color: #b31312;
}

@media screen and (max-width: 400px) {
  /* Header */
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #700303;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  /* Forside */

  .velkommen {
    background-image: url(imgs/mobil\ baggrund.png);
    background-size: 400px auto;
    padding-left: 5%;
    padding-top: 10%;
    height: 798px;
  }

  .velkommen img {
    height: auto;
  }

  .velkommen h1 {
    font-size: 35px;
    padding-bottom: 10%;
    padding-right: 10%;
    line-height: 37px;
  }

  .velkommen p {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 10%;
    padding-right: 35%;
  }

  .udforsk {
    background-image: url(imgs/udforsk\ bg\ mobil.png);
    background-size: 400px auto;
    height: 153px;
    text-align: center;
  }

  .udforsk span {
    font-size: 50px;
  }

  .card_box {
    margin-left: 60px;
    margin-right: 60px;
    width: 280px;
  }

  .card_box p {
    font-size: 22px;
    line-height: 24px;
  }

  .grid_1-1-1-1 div {
    text-align: center;
  }

  .grid_1-1-1-1 a {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 280px;
  }
}
