@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-color: #0b0d0f;
  }

  /*********************************************** Header ***********************************************/
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #700303;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  /******************************************** Forside ***************************************/

  .velkommen {
    background-image: url(imgs/medium/forside_bg_tablet.webp);
    background-size: auto;
    background-position: right;
    height: 1100px;
    padding-left: 5%;
    padding-top: 10%;
  }

  .velkommen h1 {
    font-size: 60px;
    line-height: 52px;
    padding-bottom: 6%;
    padding-right: 12%;
    text-align: left;
  }

  .velkommen p {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 6%;
    padding-right: 45%;
  }

  .udforsk {
    background-image: url(imgs/medium/udforsk\ bg\ tablet.webp),
      linear-gradient(#0b0d0f, #0b0d0f);
    background-size: auto;
    height: 240px;
    text-align: center;
  }

  .udforsk span {
    font-size: 70px;
  }

  #space {
    display: none;
  }

  .card_box {
    margin-left: 15%;
    margin-right: 15%;
  }

  .card_box p {
    font-size: 28px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grid_cards div {
    text-align: center;
  }

  .grid_cards {
    padding-top: 50px;
  }

  .grid_cards a {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /********************************************* Arkiv ****************************************************/

  .filtre_placeholder {
    display: none;
  }

  .arkiv {
    padding-left: 5%;
    padding-top: 10%;
  }
  .arkiv h1 {
    font-size: 65px;
    line-height: 70px;
    padding-bottom: 5%;
    padding-right: 10%;
    text-align: left;
    font-weight: 500;
  }

  .filtre,
  .søg,
  .sorter {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .filtre img {
    width: auto;
    height: 35px;
  }
  .søg img {
    width: auto;
    height: 35px;
  }
  .sorter img {
    width: auto;
    height: 35px;
  }

  .afsnit_resultater {
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    margin-bottom: 0px;
  }
  .grid_1-2 {
    background-image: url(imgs/medium/afsnit\ card\ tablet.webp);
    margin-bottom: 20px;
    padding: 10px;
    width: auto;
    height: 474px;
  }

  .afsnit_resultater_titel {
    display: flex;
  }
  .afsnit_resultater_titel h2 {
    font-size: 55px;
    font-weight: 500;
    margin-top: 6px;
  }
  .afsnit_resultater_titel img {
    height: 55px;
    width: auto;
  }

  .afsnit_resultater h3 {
    font-size: 45px;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .lyt_links {
    margin-bottom: 15px;
  }

  .lyt_knap_large img {
    height: 50px;
    margin-right: 10px;
  }

  .afsnit_preview a {
    font-size: 31px;
  }

  .afsnit_preview p {
    font-size: 31px;
    line-height: 34px;
  }

  .grid_1-3 {
    margin-bottom: 0;
  }

  /************************************************ Afsnit **************************************/

  .popup {
    display: none;
  }

  .afsnit {
    padding: 10% 5% 10% 5%;
  }

  .afsnit_overskrift h1 {
    font-size: 70px;
    line-height: 37px;
    padding-bottom: 5%;
    padding-right: 10%;
    text-align: left;
    font-weight: 500;
  }

  .afsnit .afsnit_overskrift p {
    font-size: 40px;
  }

  .afsnit_overskrift a {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
  }

  .afsnit_beskrivelse {
    background-image: url(imgs/medium/afsnit\ beskrivelse\ medium.webp);
    font-size: 35px;
    padding: 20px;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.686);
  }

  .afsnit_beskrivelse p {
    margin-top: 25px;
    line-height: 40px;
  }

  .afsnit_beskrivelse .beskrivelse {
    font-size: 38px;
    margin-top: 0;
  }

  .fed {
    font-weight: 600;
  }

  .historie-1,
  .historie-2 {
    background-image: url(imgs/medium/historie\ baggrund\ medium.webp);
    height: 1099px;
    margin-top: 40px;
  }

  .historie-titel {
    padding: 30px;
    padding: 35px 35px 0 35px;
  }

  .historie-titel h2 {
    font-size: 50px;
  }

  .historie-titel img {
    height: 60px;
    margin-top: -18px;
  }

  .grid_1-1 h3 {
    font-size: 38px;
    padding: 3px 0 20px 35px;
  }

  .afsnit dl {
    padding: 0 0 0 35px;
    font-size: 36px;
    line-height: 37px;
  }

  .afsnit dt {
    margin-top: 17px;
  }

  .afsnit h4,
  .nøgle {
    font-size: 36px;
    line-height: 37px;
    font-weight: 400;
    padding: 0 0 0 35px;
    margin-top: 20px;
  }

  /********************************************* Footer *********************************************/

  .bot_nav {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
  }

  footer li {
    margin-top: 10px;
  }

  .bot_menu {
    display: flex;
  }

  footer .logo img {
    width: 200px;
    height: auto;
  }
}
